<!DOCTYPE html>
<html>
<head>
  <title>Eventify</title>
</head>
<body>
  <h1>Question</h1>
  <p><%= question %></p>

  <h2>Answer</h2>
  <p><%= answer %></p>
  <a href="/">Back to Home</a>
</body>
</html>
